	* {
		box-sizing: border-box;
	}

	body {
		background-image: url("Photo.jpg");
		font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
			background-repeat: no-repeat;
		background-size:101%;
	}

	#topmid {
		border: 0px solid black;
		color: #FFFFFF;
		text-align: center;
		font-weight: bold;
		margin: auto;
		font-style: oblique;
		font-size: 25px;
		text-shadow: 2px 2px #0c2342;
	}

	.tab {
		font-weight: bold;
		margin: auto;
		width:35%;
		text-align:center;
	}

	.tab tr {
		border: 1px black hidden;
		border-radius: 10px;
		background-color: #D7D9D9;
		font-size: 22px;
		float:left;
		padding-left:20%;
		padding-bottom:5px;
		padding-top:2px;
		margin-bottom:10px;
		width:100%;

	}
	a {
		color: #27507c;
		text-decoration: none;
		background-color: transparent;
	}

	a:hover {
		color:rgb(130, 169, 207);
	}

	a:link {
		color: white;
		text-decoration: none;
	}

	header  nav li :hover{
		border-bottom: 2px #ffff80 solid;
		border-radius: 10px;
		color: #ffff80;
		padding-bottom:2px;
	}

	header  nav li{
		display: table;
		height: 80%;
		float: left;
		margin-right: 20px;
		padding-left: 10px;

	}

	header  nav a{
		color: #ffffff;
	}

	header nav li a.active {
		border-bottom: 2px #ffff80 solid;
		border-radius: 10px;
		color: #ffff80;
		padding-bottom:2px;
	}


	.holds-the-iframe {
		background: url(loader.gif) center center no-repeat;
	}